@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap");

body {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  color: #fcd2ba;
}
